<h1>List Show Page</h1>
<%= @list.title %>
<% @bookmarks.each do |bookmark| %>
  <%= bookmark.recipe.name %>
<% end %>
<%= link_to "Delete", list_path(@list),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
class:"btn btn-outline-danger btn-sm pt-3" %>
